In [1]:
# Load the extension
%load_ext sql

Deploy Streamlit apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [2]:
# Connect to DuckDB
%sql duckdb:///tpch.db

Connecting to 'duckdb:///tpch.db'

In [10]:
%%sql
select o_orderkey,
    o_orderdate, 
    o_totalprice
    from orders 
    order by o_orderdate
    limit 100;

Running query in 'duckdb:///tpch.db'

+------------+-------------+--------------+
| o_orderkey | o_orderdate | o_totalprice |
+------------+-------------+--------------+
|   990147   |  1992-01-01 |   7331.75    |
|  1002753   |  1992-01-01 |   2330.74    |
|  1006694   |  1992-01-01 |   72103.29   |
|  1038022   |  1992-01-01 |   74167.19   |
|  1049856   |  1992-01-01 |  237577.53   |
|  1049991   |  1992-01-01 |  176702.59   |
|  1054181   |  1992-01-01 |  197231.04   |
|  1059108   |  1992-01-01 |   42599.23   |
|  1059425   |  1992-01-01 |  104080.64   |
|  1069285   |  1992-01-01 |  175112.11   |
+------------+-------------+--------------+
Truncated to displaylimit of 10.