In [1]:
# Load the extension
%load_ext sql

In [2]:
# Connect to DuckDB
%sql duckdb:///tpch.db

Connecting to 'duckdb:///tpch.db'

In [9]:
%%sql
SELECT
        1 AS user_id, gen_random_uuid() as click_id, '2024-07-01 10:00:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, gen_random_uuid(), '2024-07-01 10:05:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, gen_random_uuid(), '2024-07-01 10:10:00' AS click_time UNION ALL
 SELECT
        1 AS user_id, gen_random_uuid(), '2024-07-01 10:10:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, gen_random_uuid(), '2024-07-01 10:15:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, gen_random_uuid(), '2024-07-01 10:20:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, gen_random_uuid(), '2024-07-01 10:25:00' AS click_time

Running query in 'duckdb:///tpch.db'

+---------+--------------------------------------+---------------------+
| user_id |               click_id               |      click_time     |
+---------+--------------------------------------+---------------------+
|    1    | 43a03bcd-20a3-4a8b-9bb7-9666911e84f4 | 2024-07-01 10:00:00 |
|    1    | 80483af8-d1b9-4e29-9c85-9f2ecf3be955 | 2024-07-01 10:05:00 |
|    1    | 5ab23185-081a-4139-8ff7-6cb4eef6e950 | 2024-07-01 10:10:00 |
|    1    | 3d72f369-0b16-41f1-8f31-e831652ca77d | 2024-07-01 10:10:00 |
|    2    | 9c6f39e7-6021-4320-a1d9-32c62986fc19 | 2024-07-01 10:15:00 |
|    2    | 6932537b-c202-43db-becf-5dbfa5b7ab72 | 2024-07-01 10:20:00 |
|    2    | c813d9ed-5753-42bf-b886-d5ed1a6e4df4 | 2024-07-01 10:25:00 |
+---------+--------------------------------------+---------------------+