# [SETUP] 
connect to DuckDB

In [1]:
# Load the extension
%load_ext sql

Tip: You may define configurations in /workspaces/adv_data_transformation_in_sql/pyproject.toml or /home/codespace/.jupysql/config.

Did not find user configurations in /workspaces/adv_data_transformation_in_sql/pyproject.toml.

In [2]:
# Connect to DuckDB
%sql duckdb:///../../tpch.db

Connecting to 'duckdb:///../../tpch.db'

In [3]:
%config SqlMagic.displaylimit = 100

In [4]:
%%sql
-- Run a simple show tables
SELECT
  table_name
FROM
  information_schema.tables
WHERE
  table_schema = 'main'

Running query in 'duckdb:///../../tpch.db'

+------------+
| table_name |
+------------+
|  customer  |
|  lineitem  |
|   nation   |
|   orders   |
|    part    |
|  partsupp  |
|   region   |
|  supplier  |
+------------+

In [ ]:
# If you do not see any tables run the below command (after uncommeting it)
#! python setup.py

# [HOW] to find n-th event in a series of events with Window functions

* Many user interactions are stored as events (e.g., impressions, clicks, checkouts, cab called, cab boarded, cab dismounted, etc.)

* Analytical questions involve identifying one or more of such events and associating it with a past event. 

* For example, if a customer purchases a product, how did the user land on the product page (google, ads, Bing, etc.) (aka attribution)?

[ref: utm](https://blog.hubspot.com/customers/understanding-basics-utm-parameters)

## [Example] Find n-th click in a series of user clicks 

* Assume we have a `clickstream` table with user_id and the time they clicked on our web page. We can use ranking functions to pick the user's 3rd (or any n-th) click.

* n-th event is a series of events that is beneficial in
	* Marketing attribution
	* Debugging issues with late-arriving data

For example, let's find the 3rd click in a series of clicks:

![3-rd click](../../images/3click.png)

In [5]:
%%sql
WITH clickstream AS (
    SELECT
        1 AS user_id, '2024-07-01 10:00:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, '2024-07-01 10:05:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, '2024-07-01 10:10:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:15:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:20:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:25:00' AS click_time
),
ranked_clicks AS (
    SELECT
        user_id,
        click_time,
        ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY click_time) AS click_rank
    FROM
        clickstream
)
SELECT
    user_id,
    click_time,
    click_rank
FROM
    ranked_clicks
WHERE
    click_rank = 3;

Running query in 'duckdb:///../../tpch.db'

+---------+---------------------+------------+
| user_id |      click_time     | click_rank |
+---------+---------------------+------------+
|    1    | 2024-07-01 10:10:00 |     3      |
|    2    | 2024-07-01 10:25:00 |     3      |
+---------+---------------------+------------+

* This pattern(ROW_NUMBER + ORDER BY unique key) can also remove duplicate rows. 

* Note: some DBS support drop duplicate function

Let's see how we can drop duplicates with this approach:

![Remove duplicates](../../images/dupclick.png)

## [Exercise] 

Write a query to remove duplicates from the clickstream data (created as CTE below)

**Time limit during live workshop: 5 min**

**Hint:**
  1. Think about how you can use `row_number` as shown above to remove duplicates.

In [6]:
%%sql
WITH clickstream AS (
    SELECT
        1 AS user_id, '2024-07-01 10:00:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, '2024-07-01 10:05:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, '2024-07-01 10:10:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, '2024-07-01 10:10:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, '2024-07-01 10:10:00' AS click_time UNION ALL
    SELECT
        1 AS user_id, '2024-07-01 10:10:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:15:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:20:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:20:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:20:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:20:00' AS click_time UNION ALL
    SELECT
        2 AS user_id, '2024-07-01 10:25:00' AS click_time
),
ranked_clicks AS (
    SELECT
        user_id,
        click_time,
        ROW_NUMBER() OVER (PARTITION BY user_id, click_time) AS click_rank
    FROM
        clickstream
)
select user_id, click_time, click_rank
from ranked_clicks
where click_rank = 1;

Running query in 'duckdb:///../../tpch.db'

+---------+---------------------+------------+
| user_id |      click_time     | click_rank |
+---------+---------------------+------------+
|    1    | 2024-07-01 10:10:00 |     1      |
|    2    | 2024-07-01 10:20:00 |     1      |
|    2    | 2024-07-01 10:15:00 |     1      |
|    1    | 2024-07-01 10:05:00 |     1      |
|    2    | 2024-07-01 10:25:00 |     1      |
|    1    | 2024-07-01 10:00:00 |     1      |
+---------+---------------------+------------+

# [HOW] Converting row values into individual columns (aka PIVOT)

* Commonly used for easy visual summarization

* Used extensively by business folks to inspect value distributions

Let's take a look at how PIVOT works: 

Consider that you have this table,

| order_month | o_orderpriority    | o_totalprice |
|-------------|--------------------|--------------|
| 1996-01     | 5-LOW              | 173665.47    |
| 1996-12     | 1-URGENT           | 46929.18     |
| 1993-10     | 5-LOW              | 193846.25    |
| 1995-10     | 5-LOW              | 32151.78     |
| 1994-07     | 5-LOW              | 144659.2     |
| 1992-02     | 4-NOT SPECIFIED    | 58749.59     |
| 1996-01     | 2-HIGH             | 252004.18    |
| 1995-07     | 2-HIGH             | 208660.75    |
| 1993-10     | 3-MEDIUM           | 163243.98    |
| 1998-07     | 3-MEDIUM           | 58949.67     |

Pivoting it by `o_orderpriority` will convert the values in this column into individual columns as shown below:

| order_month | 1-URGENT  | 2-HIGH     | 3-MEDIUM   | 4-NOT SPECIFIED | 5-LOW      |
|-------------|-----------|------------|------------|-----------------|------------|
| 1992-02     | &nbsp;    | &nbsp;     | &nbsp;     | 58749.59        | &nbsp;     |
| 1993-10     | &nbsp;    | &nbsp;     | 163243.98  | &nbsp;          | 193846.25  |
| 1994-07     | &nbsp;    | &nbsp;     | &nbsp;     | &nbsp;          | 144659.2   |
| 1995-07     | &nbsp;    | 208660.75  | &nbsp;     | &nbsp;          | &nbsp;     |
| 1995-10     | &nbsp;    | &nbsp;     | &nbsp;     | &nbsp;          | 32151.78   |
| 1996-01     | &nbsp;    | 252004.18  | &nbsp;     | &nbsp;          | 173665.47  |
| 1996-12     | 46929.18  | &nbsp;     | &nbsp;     | &nbsp;          | &nbsp;     |
| 1998-07     | &nbsp;    | &nbsp;     | 58949.67   | &nbsp;          | &nbsp;     |

`PIVOT` is a very common use case for business people using excel. It is typically used to visually inspect distribution of data (aka do the numbers align with business knowledge).

![Pivot in Excel](../../images/pivot.png)

## Use GROUP BY + CASE WHEN (conditional aggregate) to replicate PIVOT in SQL

* Pivots take values in rows and convert them into columns.

* We can create this logic in SQL with a CASE WHEN inside a GROUP BY 

* Only columns with a low number of unique values (aka low cardinality) are pivoted.

* Convert `orderpriority` column values into individual columns and calculate monthly revenue.

## [Example]

In [7]:
%%sql
SELECT strftime(o_orderdate, '%Y-%m') AS ordermonth,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '1-URGENT' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS urgent_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '2-HIGH' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS high_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '3-MEDIUM' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS medium_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '4-NOT SPECIFIED' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS not_specified_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '5-LOW' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS low_order_avg_price
FROM orders
GROUP BY strftime(o_orderdate, '%Y-%m');

Running query in 'duckdb:///../../tpch.db'

+------------+------------------------+----------------------+------------------------+-------------------------------+---------------------+
| ordermonth | urgent_order_avg_price | high_order_avg_price | medium_order_avg_price | not_specified_order_avg_price | low_order_avg_price |
+------------+------------------------+----------------------+------------------------+-------------------------------+---------------------+
|  1996-11   |       151356.71        |      151035.89       |        149147.9        |           149699.36           |      150154.85      |
|  1992-06   |       149707.39        |      150613.31       |       152419.86        |           151329.76           |      152172.39      |
|  1994-11   |        150061.5        |      153389.03       |       149904.96        |           154848.78           |      151375.96      |
|  1994-08   |       151211.76        |      151186.53       |       150592.42        |           151402.47           |      152333.38      |
|  1998-05   |       154130.32        |      152392.35       |       150669.72        |           150274.74           |      149279.83      |
|  1995-08   |       150822.37        |      153917.21       |       151831.64        |           149990.26           |      150393.39      |
|  1996-02   |       151773.73        |      152638.55       |       151315.52        |           150790.22           |      150046.59      |
|  1997-12   |       150772.04        |      149684.69       |       150534.19        |           148549.55           |      151067.59      |
|  1997-10   |       149762.83        |      150136.33       |       151199.33        |           150689.88           |      151653.03      |
|  1993-04   |        151614.1        |      150542.62       |       150475.85        |           152230.25           |      151422.39      |
|  1992-12   |        150439.5        |       149985.3       |       152506.04        |           150029.83           |      151447.86      |
|  1997-07   |       150035.13        |      151055.43       |       151341.09        |           149361.83           |      151424.87      |
|  1996-05   |       150904.69        |      150633.29       |       150874.97        |           152324.84           |      149052.87      |
|  1997-02   |       151677.22        |      152569.17       |       154057.97        |           148646.34           |      151308.88      |
|  1994-07   |       150007.88        |      152418.08       |       149188.64        |           148399.04           |      150383.63      |
|  1996-10   |       150831.35        |      152509.03       |       151867.12        |           152535.31           |      152476.66      |
|  1993-06   |       151663.44        |      151677.87       |       148674.19        |           150526.41           |      153210.33      |
|  1993-01   |        152511.7        |      150870.35       |       149225.79        |           151707.18           |      149796.64      |
|  1993-08   |       151352.93        |       151416.1       |       150981.47        |           150135.26           |      150399.13      |
|  1994-06   |       151236.05        |      152851.62       |       151366.31        |           149974.16           |      150421.72      |
|  1993-11   |       152149.92        |       152113.0       |        154741.4        |           150366.62           |      152819.09      |
|  1992-02   |       149825.66        |       151621.2       |       151097.99        |           148146.46           |      153223.03      |
|  1995-07   |        149755.6        |      152977.59       |       154053.63        |           148750.55           |       152139.6      |
|  1994-09   |       153035.55        |      151425.19       |       147815.17        |           152367.26           |      152493.14      |
|  1995-02   |       151172.07        |      150087.64       |       151448.51        |           154815.12           |      151207.26      |
|  1995-03   |        149175.6        |      150804.55       |       152240.93        |           150367.59           |       150809.1      |
|  1995-06   |       152715.37        |      153150.21       |       149972.38        |           150476.34           |      150311.41      |
|  1994-03   |       149527.81        |      153360.67       |       150776.61        |           149767.05           |      151670.55      |
|  1995-11   |       151077.26        |      152295.58       |       151513.64        |           150440.59           |      155180.85      |
|  1992-04   |       150711.46        |      149101.37       |       151988.51        |           152270.44           |      151559.51      |
|  1997-09   |       151479.67        |      151025.75       |       150693.21        |           152206.26           |       153776.6      |
|  1993-12   |       149929.58        |      153701.09       |       148774.27        |           150546.17           |      150680.06      |
|  1993-09   |       152293.14        |      151663.54       |       151794.83        |           152881.48           |      153179.17      |
|  1994-04   |       152611.84        |      151448.81       |       149098.38        |           151967.89           |      150545.28      |
|  1996-12   |       152117.05        |       151362.8       |       152749.41        |           154194.75           |      151159.87      |
|  1995-12   |       150255.59        |      150518.04       |       152053.17        |           150178.81           |      150879.69      |
|  1993-02   |       154616.88        |      150995.16       |       151431.36        |           150228.68           |      150933.05      |
|  1998-06   |       151979.35        |       149065.0       |       151868.64        |           150803.02           |      151835.83      |
|  1993-10   |       151322.94        |      151261.26       |       149099.52        |           152990.51           |      154349.28      |
|  1993-03   |       151981.23        |      150130.28       |       152079.48        |           149968.96           |      152150.97      |
|  1992-10   |       151211.28        |      151246.73       |       148788.65        |           152666.85           |      151270.87      |
|  1998-08   |       148828.42        |      151489.03       |       152028.48        |           158282.19           |      147243.22      |
|  1998-03   |       150873.47        |      150570.95       |       151018.09        |           148078.49           |      152519.56      |
|  1996-07   |       152292.81        |      152155.31       |       150413.88        |           150187.35           |      152059.91      |
|  1995-05   |       150122.65        |      151196.19       |       149783.97        |           149204.84           |      148949.96      |
|  1998-02   |       153864.83        |       151404.4       |       152389.67        |           151219.83           |      152982.06      |
|  1998-04   |       148019.76        |      153504.77       |       151014.14        |           149725.65           |      152316.63      |
|  1997-08   |       151352.02        |      148479.77       |       150028.86        |           150385.92           |      151282.67      |
|  1996-09   |       151693.76        |      148408.61       |        152685.0        |           152496.67           |      150871.09      |
|  1997-11   |       150363.66        |       149935.2       |       151285.38        |           149295.51           |       148828.0      |
|  1996-08   |       149866.87        |       153702.9       |       152702.58        |           150244.76           |      151132.86      |
|  1994-10   |        150500.3        |      152348.02       |       149703.06        |            149844.6           |      151074.72      |
|  1995-10   |       151687.69        |      150779.03       |       151027.42        |            151662.6           |      150882.22      |
|  1995-01   |       151249.07        |       150804.1       |       153134.67        |            150813.2           |      150646.21      |
|  1995-04   |       151250.66        |      151799.56       |       150165.57        |           150513.91           |      151058.44      |
|  1992-08   |       149636.45        |      152979.38       |        154235.1        |           151365.07           |      150099.23      |
|  1996-06   |       151586.78        |      151786.51       |       153339.09        |            149440.5           |      150701.25      |
|  1994-05   |       151438.82        |      150451.07       |       151412.11        |           152264.86           |       150720.4      |
|  1997-03   |       150613.61        |      151412.71       |        151649.1        |           150809.87           |      149129.77      |
|  1992-07   |       149953.34        |      150980.86       |       151373.73        |           150603.69           |      150482.22      |
|  1994-02   |       151260.42        |      152820.68       |        150113.2        |           148807.71           |       149721.6      |
|  1996-01   |       151539.02        |      152144.97       |       148244.37        |           151062.99           |      152392.95      |
|  1998-07   |       151751.57        |      151426.16       |       151172.15        |           149839.08           |      153471.71      |
|  1996-04   |       150426.58        |      152802.97       |       152916.36        |           153193.89           |      151247.11      |
|  1993-05   |       153110.82        |      152196.06       |       150990.65        |           150496.14           |      151189.79      |
|  1992-03   |       150950.13        |      153366.69       |       149570.99        |            150995.9           |      148680.08      |
|  1992-09   |       153194.34        |      153788.85       |       151530.64        |            150951.4           |      155128.05      |
|  1992-01   |       152246.01        |       152794.6       |       150757.01        |           149996.83           |      150627.77      |
|  1997-01   |       149809.89        |      151225.77       |       152078.61        |           150935.92           |       151887.0      |
|  1997-06   |       152010.28        |      148815.38       |       148742.63        |           150826.54           |      151134.79      |
|  1992-05   |       149530.63        |      150783.54       |       151825.97        |           150843.21           |      149711.45      |
|  1993-07   |        150596.0        |      151904.27       |        153506.9        |           154228.21           |      151167.57      |
|  1994-12   |       154546.92        |      151238.83       |       149925.82        |           147631.99           |      154628.29      |
|  1998-01   |       150922.04        |      153332.36       |       152603.06        |           148099.08           |      150144.09      |
|  1994-01   |       151699.39        |      151431.14       |       153343.76        |           151535.06           |      153589.69      |
|  1997-05   |       151012.33        |      151325.54       |       151357.18        |           151214.74           |      151999.18      |
|  1996-03   |       148406.79        |      152137.79       |       151100.88        |           152675.13           |      151169.76      |
|  1992-11   |       152039.14        |      151758.44       |       150637.49        |           151183.91           |      151226.62      |
|  1997-04   |       153626.27        |      154050.72       |       152266.06        |            149567.3           |      151317.87      |
|  1995-09   |       151810.24        |      149950.18       |       148748.98        |           150254.46           |      150775.63      |
+------------+------------------------+----------------------+------------------------+-------------------------------+---------------------+

## [Exercise] 

Write a query to pivot orders data by orderpriority and show average total price grouped by year
    
**Time limit during live workshop: 5 min**

**Hint**: 
    1. Use `strftime(o_orderdate, '%Y') AS order_year` to get order_year.

`orders` table schema: ![Orders](../../images/orders.png)

In [8]:
%%sql
SELECT strftime(o_orderdate, '%Y') AS order_year,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '1-URGENT' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS urgent_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '2-HIGH' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS high_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '3-MEDIUM' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS medium_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '4-NOT SPECIFIED' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS not_specified_order_avg_price,
       ROUND(AVG(CASE
                     WHEN o_orderpriority = '5-LOW' THEN o_totalprice
                     ELSE NULL
                 END), 2) AS low_order_avg_price
FROM orders
GROUP BY strftime(o_orderdate, '%Y');

Running query in 'duckdb:///../../tpch.db'

+------------+------------------------+----------------------+------------------------+-------------------------------+---------------------+
| order_year | urgent_order_avg_price | high_order_avg_price | medium_order_avg_price | not_specified_order_avg_price | low_order_avg_price |
+------------+------------------------+----------------------+------------------------+-------------------------------+---------------------+
|    1998    |       151605.58        |      151681.48       |       151524.74        |           149777.83           |      151734.08      |
|    1993    |       151896.15        |      151544.17       |       150977.08        |           151375.31           |      151783.54      |
|    1997    |       151030.14        |      150796.07       |       151257.83        |           150211.43           |      151236.81      |
|    1996    |       151061.18        |      151774.86       |       151454.07        |           151569.38           |      151042.53      |
|    1992    |        150779.6        |      151588.26       |       151384.55        |           150863.81           |      151271.86      |
|    1995    |       150920.56        |      151526.86       |       151343.54        |           150597.69           |      151086.98      |
|    1994    |       151426.23        |      152017.45       |       150287.01        |           150731.78           |      151605.29      |
+------------+------------------------+----------------------+------------------------+-------------------------------+---------------------+

Some DBs support PIVOT

In [ ]:
%%sql
-- Doesn't work on Jupyter
PIVOT
  (SELECT *,
          strftime(o_orderdate, '%Y-%m') AS order_month
   FROM orders) ON o_orderpriority USING AVG(o_totalprice)
GROUP BY order_month;

# [HOW] Most analytical dashboards need period-over-period comparison

* Take a look at these popular analytical websites. You will see a few key numbers in big fonts next to a smaller `+/-number` indicating the change percentage.

* People are interested in seeing how performance has changed over time

* Dashboards show metrics for a certain period and often show how they have changed compared to the prior period.

Let's look at some examples:

![](../../images/dash.png)

This is [Startdataengineering](https://www.startdataengineering.com/)'s user analytics via [Plausible](https://plausible.io/):

![Startdataengineering analytics](../../images/pop.png)

## Use group by to create metrics at the chosen period grain and window value functions to compare the current period with the previous period

* Write a query on the `orders` table that has the following output:
	1. ordermonth (in YYYY-MM format)
	2. Revenue: Sum of totalprice for that month
	3. revenue_MOM_change: The current month's revenue - the previous month's revenue

## [Example]

In [9]:
%%sql
SELECT order_month,
       revenue,
       revenue - lag(revenue) OVER (
                                    ORDER BY order_month) AS revenue_MOM_change,
       ROUND((revenue - lag(revenue) OVER (
                                           ORDER BY order_month)) / revenue, 2) AS perc_revenue_MOM_change
FROM
  (SELECT strftime(o_orderdate, '%Y-%m') AS order_month,
          SUM(o_totalprice) AS revenue
   FROM orders
   GROUP BY 1)
ORDER BY 1 ;

Running query in 'duckdb:///../../tpch.db'

+-------------+---------------+--------------------+-------------------------+
| order_month |    revenue    | revenue_MOM_change | perc_revenue_MOM_change |
+-------------+---------------+--------------------+-------------------------+
|   1992-01   | 2924475612.31 |        None        |           None          |
|   1992-02   | 2722431986.23 |   -202043626.08    |          -0.07          |
|   1992-03   | 2916634337.08 |    194202350.85    |           0.07          |
|   1992-04   | 2810957935.53 |   -105676401.55    |          -0.04          |
|   1992-05   | 2889847192.76 |    78889257.23     |           0.03          |
|   1992-06   | 2819384521.34 |    -70462671.42    |          -0.02          |
|   1992-07   | 2902206241.90 |    82821720.56     |           0.03          |
|   1992-08   | 2890477210.32 |    -11729031.58    |           -0.0          |
|   1992-09   | 2822154173.25 |    -68323037.07    |          -0.02          |
|   1992-10   | 2910657060.89 |    88502887.64     |           0.03          |
|   1992-11   | 2788587548.76 |   -122069512.13    |          -0.04          |
|   1992-12   | 2932860232.06 |    144272683.30    |           0.05          |
|   1993-01   | 2913811373.16 |    -19048858.90    |          -0.01          |
|   1993-02   | 2630677718.03 |   -283133655.13    |          -0.11          |
|   1993-03   | 2912683428.71 |    282005710.68    |           0.1           |
|   1993-04   | 2822443390.80 |    -90240037.91    |          -0.03          |
|   1993-05   | 2883287522.04 |    60844131.24     |           0.02          |
|   1993-06   | 2835160694.49 |    -48126827.55    |          -0.02          |
|   1993-07   | 2942123846.74 |    106963152.25    |           0.04          |
|   1993-08   | 2897367419.42 |    -44756427.32    |          -0.02          |
|   1993-09   | 2848207447.70 |    -49159971.72    |          -0.02          |
|   1993-10   | 2920787181.18 |    72579733.48     |           0.02          |
|   1993-11   | 2844583652.90 |    -76203528.28    |          -0.03          |
|   1993-12   | 2889276403.86 |    44692750.96     |           0.02          |
|   1994-01   | 2970474618.16 |    81198214.30     |           0.03          |
|   1994-02   | 2604605171.74 |   -365869446.42    |          -0.14          |
|   1994-03   | 2951594278.33 |    346989106.59    |           0.12          |
|   1994-04   | 2813400959.67 |   -138193318.66    |          -0.05          |
|   1994-05   | 2912998109.37 |    99597149.70     |           0.03          |
|   1994-06   | 2837622828.43 |    -75375280.94    |          -0.03          |
|   1994-07   | 2893778071.78 |    56155243.35     |           0.02          |
|   1994-08   | 2939456841.96 |    45678770.18     |           0.02          |
|   1994-09   | 2829177284.30 |   -110279557.66    |          -0.04          |
|   1994-10   | 2864472662.74 |    35295378.44     |           0.01          |
|   1994-11   | 2859839161.86 |    -4633500.88     |           -0.0          |
|   1994-12   | 2938949064.63 |    79109902.77     |           0.03          |
|   1995-01   | 2946587345.85 |     7638281.22     |           0.0           |
|   1995-02   | 2689142056.26 |   -257445289.59    |           -0.1          |
|   1995-03   | 2910048327.04 |    220906270.78    |           0.08          |
|   1995-04   | 2853296779.70 |    -56751547.34    |          -0.02          |
|   1995-05   | 2898401832.47 |    45105052.77     |           0.02          |
|   1995-06   | 2856172335.44 |    -42229497.03    |          -0.01          |
|   1995-07   | 2950551890.98 |    94379555.54     |           0.03          |
|   1995-08   | 2945954831.22 |    -4597059.76     |           -0.0          |
|   1995-09   | 2817729480.29 |   -128225350.93    |          -0.05          |
|   1995-10   | 2948766858.59 |    131037378.30    |           0.04          |
|   1995-11   | 2832030728.38 |   -116736130.21    |          -0.04          |
|   1995-12   | 2897450717.38 |    65419989.00     |           0.02          |
|   1996-01   | 2903467749.81 |     6017032.43     |           0.0           |
|   1996-02   | 2761225141.14 |   -142242608.67    |          -0.05          |
|   1996-03   | 2886057925.13 |    124832783.99    |           0.04          |
|   1996-04   | 2844522497.03 |    -41535428.10    |          -0.01          |
|   1996-05   | 2888796278.32 |    44273781.29     |           0.02          |
|   1996-06   | 2862884106.61 |    -25912171.71    |          -0.01          |
|   1996-07   | 2906901136.23 |    44017029.62     |           0.02          |
|   1996-08   | 2988619864.22 |    81718727.99     |           0.03          |
|   1996-09   | 2850516823.52 |   -138103040.70    |          -0.05          |
|   1996-10   | 2935531059.58 |    85014236.06     |           0.03          |
|   1996-11   | 2843667967.30 |    -91863092.28    |          -0.03          |
|   1996-12   | 2937174211.97 |    93506244.67     |           0.03          |
|   1997-01   | 2894774512.52 |    -42399699.45    |          -0.01          |
|   1997-02   | 2666400698.43 |   -228373814.09    |          -0.09          |
|   1997-03   | 2871589959.01 |    205189260.58    |           0.07          |
|   1997-04   | 2870520226.05 |    -1069732.96     |           -0.0          |
|   1997-05   | 2954859129.31 |    84338903.26     |           0.03          |
|   1997-06   | 2848808520.47 |   -106050608.84    |          -0.04          |
|   1997-07   | 2926926018.56 |    78117498.09     |           0.03          |
|   1997-08   | 2905509503.14 |    -21416515.42    |          -0.01          |
|   1997-09   | 2823931892.91 |    -81577610.23    |          -0.03          |
|   1997-10   | 2913895092.65 |    89963199.74     |           0.03          |
|   1997-11   | 2776607117.39 |   -137287975.26    |          -0.05          |
|   1997-12   | 2919810742.60 |    143203625.21    |           0.05          |
|   1998-01   | 2926989887.18 |     7179144.58     |           0.0           |
|   1998-02   | 2667983462.14 |   -259006425.04    |           -0.1          |
|   1998-03   | 2931571465.59 |    263588003.45    |           0.09          |
|   1998-04   | 2818894310.62 |   -112677154.97    |          -0.04          |
|   1998-05   | 2940806826.69 |    121912516.07    |           0.04          |
|   1998-06   | 2809087921.63 |   -131718905.06    |          -0.05          |
|   1998-07   | 2935593508.98 |    126505587.35    |           0.04          |
|   1998-08   |  181794522.70 |   -2753798986.28   |          -15.15         |
+-------------+---------------+--------------------+-------------------------+

## [Exercise]


**Time limit during live workshop: 10 min**

* Scenario: You are designing a data set for a dashboard. The dashboard should be able to show metrics at day, week, month, and year levels (assume these are drop-downs on the dashboard).

* Assume that you, the data engineer assigned to building the table necessary for the dashboard.

* Question 1: What clarifying questions would you ask the dashboard team?

* Question 2: How would you design the table to be used by the dashboard software? What are the considerations you need to be mindful of?

# [Things to note] with Window data access patterns

* Query patterns: qps, other filters

* Performance consideration: Size of granular data

* Pre aggregation: data freshness, additive, nonadditive metrics

# Recap

* Find the nth event in a series of events with ranking window functions

* Do pivot in SQL with a CASE WHEN inside an aggregated function

* Do period-over-period change calculation with value (lead/lag) window function

* Window functions are expensive; if your use case requires repeated use of window functions, consider pre-aggregating your data

# Helpers

1. Solutions are available at [workshop_solutions](./workshop_solutions.ipynb). **Note** You need to stop the kernel in this notebook before starting the next one, since DuckDB can only have one worker on it at a time.
2. Note the `outline`(or `Table of Contents` in the left pane on Jupyter notebook) is a easy way to navigate this workbook.

# Questions